var config = {
	server: {
		port: 8080 // Port the app should listen on
	, database: 'mongodb://localhost/test'
	, production: false
	}
, sessions: {
		key: 'secret key'
	}
	// Admin account login details. username is not editable (must be 'admin')
, admin: {
		email: 'admin@wigslace'
	, password: 'password'
	}
	// Email connection details
, smtp: {
		host: 'smtp.example.com'
	, user: 'someaccount'
	, password: 'password'
	}
, defaults: {
		avatars: {
			admin: '/default/avatars/admin/'
		, members: [
				'/default/avatars/generic-1/'
			, '/default/avatars/generic-2/'
			, '/default/avatars/homura/'
			, '/default/avatars/kyouko/'
			, '/default/avatars/madoka/'
			, '/default/avatars/mami/'
			, '/default/avatars/sayaka/'
			]
		}
	}
};

module.exports = config;