var config = {
	server: {
		port: 8080 // Port the app should listen on
	, database: 'mongodb://localhost/test'
	, production: false
	}
, sessions: {
		key: 'secret key'
	}
	// Auto-generate user details. bot is required for apbot
, users: [
	  {id: 'admin', email: 'admin@wigslace', password: 'password'}
	, {id: 'bot', email: 'bot@wigslace', password: 'password'}
	]
	// Email connection details
, smtp: {
		host: 'smtp.example.com'
	, user: 'someaccount'
	, password: 'password'
	}
, defaults: {
		avatars: {
			admin: '/default/avatars/admin/'
		, members: [
				'/default/avatars/generic-1/'
			, '/default/avatars/generic-2/'
			, '/default/avatars/homura/'
			, '/default/avatars/kyouko/'
			, '/default/avatars/madoka/'
			, '/default/avatars/mami/'
			, '/default/avatars/sayaka/'
			]
		}
	}
};

module.exports = config;