* {-moz-box-sizing: border-box; box-sizing: border-box;}

html, body {height: 100%; margin: 0; padding: 0; border: none; overflow: hidden;}

.t {display: table; width: 100%; height: 100%;}
.tr {display: table-row; border-collapse: collapse;}
.tc {display: table-cell; height: 100%;}
.tc.collapse {height: 0;}

.content-wrapper {height: 100%; position: relative;}
.chat-margin {background: #f8f8f8; height: 100%; border-right: 1px solid #d4d4d4; margin-right: 200px; position: relative;}
.chat-wrapper {position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow-y: auto;}

.chat {position: static;}
.chat .message {padding: 5px; margin-left: 40px; position: relative;}
.chat .message .content {background: white; display: inline-block; max-width: 100%; min-height: 30px; padding: 5px 15px; border-radius: 0 2px 2px 2px; word-wrap: break-word;}
.chat .message p {margin: 0;}
.chat .message .meta {color: #999; font-size: 10px;}
.chat .message .content, .chat .message .avatar img {box-shadow: 0 0 3px #d4d4d4;}
.chat .message .avatar {padding: 5px 0 5px 5px; overflow: hidden; position: absolute; top: 0; left: -40px;}

.user-list {width: 200px; padding: 0px 5px; position: absolute; right: 0; top: 0;}
.user-list .user {margin: 5px 0;}

.message-input {display: block; padding-right: 50px; margin: 0; position: relative;}
.message-input input {width: 100%; height: 35px; border: none; border-top: 1px solid #ccc; border-radius: 0; margin: 0;}
.message-input button {width: 50px; height: 35px; border: none; border-top: 1px solid rgba(0,0,0,0.1); border-radius: 0; position: absolute; right: 0; top: 0; transition: border 0.2s linear 0s;}
.message-input input:focus + button {border-color: rgba(82, 168, 236, 0.8);}
