
/* Colour */
@light: #34495e;
@dark: #2c3e50;
@inverse: white;
@grey: #bdc3c7;
@error: #e74c3c;
@info: #1abc9c;

/* Sizes */
@font-default: 13px;

@import 'part/reset.less';
@import 'part/general.less';
@import 'part/columns.less';
@import 'part/forms.less';
@import 'part/mixins.less';
@import 'part/navbar.less';
@import 'part/alerts.less';
@import 'part/modals.less';
@import 'part/chat.less';
@import 'part/dashboard.less';
