/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font-size:inherit;font-weight:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Some more resets */
html, body {height: 100%; margin: 0; padding: 0; border: none; overflow: hidden;}

/* Colour */
@light: #34495e;
@dark: #2c3e50;
@inverse: white;
@grey: #bdc3c7;

/* Sizes */
@font-default: 13px;

/* Global stuff */
* {
	color: inherit;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font: @font-default 'Lato', sans-serif;
}

a {
	color: @light;
	text-decoration: none;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: @dark;
}
h1, h2, h3, h4 {
	font-weight: bold;
	line-height: 1.1;
}
h1 {font-size: 61px;}
h2 {font-size: 53px;}
h3 {font-size: 40px;}
h4 {font-size: 29px;}
h5 {font-size: 29px;}
h6 {font-size: 24px;}

h2 small {
	color: fade(@dark, 30%);;
	display: block;
	font-size: 22px;
	font-weight: normal;
}

/* Shared things */
.page-width {
	width: 940px;
	margin: 0 auto;
}

/* Forms */
fieldset {
	width: 470px;
	padding: 10px;
	border: 2px solid @grey;
	border-radius: 6px;
	margin: 0 auto;
}

input {
	background: white;
	width: 100%;
	padding: 8px 12px;
	border: 2px solid @grey;
	border-radius: 6px;
	margin-bottom: 10px;
	.placeholder(@grey);

	&:focus {
		border-color: @light;
		outline: none;
	}
}

/* Buttons */
.button {
	color: @inverse;
	.hover(@grey);
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	display: inline-block;
	font-size: @font-default;
	cursor: pointer;
}
button.button {
	padding: 4px 10px;
}
.button + .button {
	margin-left: 10px;
}

.button.primary {
	.hover(@dark);
}

/* Mixins */
.hover(@colour) {
	background-color: @colour;
	&:hover {
		background-color: lighten(@colour, 10%);
	}
}

.placeholder(@colour) {
	:-moz-placeholder {color: @colour;}
	::-moz-placeholder {color: @colour;}
	:-ms-input-placeholder {color: @colour;}
	::-webkit-input-placeholder {color: @colour;}
	.placeholder {color: @colour;}
}

/* Navbar */
.navbar {
	background: @light;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	* {
		color: fade(@inverse, 80%);
		line-height: 40px;
	}

	.title {
		display: inline;
		font-size: 25px;
		font-weight: normal;
	}

	.menu {
		margin-right: -10px;
		display: block;
		float: right;

		li {
			float: left;

			a, p {
				padding: 0 10px;
			}

			a {
				.hover(@light);
				height: 40px;
				display: block;
			}
		}
	}
}

/* Content pages */
.content {
	height: 100%;
	padding-top: 40px;
	position: relative;
}
.page-header {
	margin-bottom: 20px;
	display: block;
	text-align: center;
}

/* Chat page */
.chat-margin {
	height: 100%;
	margin-right: 200px;
	position: relative;
}

.chat-wrapper {
	margin-bottom: 40px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
}

.chat {position: static;}

.user-list {
	width: 200px;
	padding: 0px 5px;
	position: absolute;
	right: 0;
	top: 40px;

	.user {
		margin: 5px 0;
	}

	img {
		vertical-align: middle;
	}
}

.message-input {
	width: 100%;
	padding-right: 50px;
	position: absolute;
	bottom: 0;

	input {
		margin-bottom: 2px;
		border-right: none;
		border-radius: 6px 0 0 6px;
	}

	button {
		width: 50px;
		height: 36px;
		border-radius: 0 6px 6px 0;
		position: absolute;
		right: 0;
	}

	input:focus + button {
		.hover(@dark);
	}
}
