{% extends 'layout.html' %}

{% block headJS %}
	{% parent %}
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/marked.js"></script>
	<script src="/js/chat.js"></script>
{% endblock %}

{% block body %}
	{% if !loggedIn %}<a href="/login">Login</a>{% endif %}
	<div id="chat">
		<div class="messages">
		</div>
		{% if loggedIn %}
			<form action="javascript:void(0);" class="message-input">
				<input type="text" name="message"/>
				<input type="submit"/>
			</form>
		{% endif %}
	</div>
{% endblock %}