{% extends 'layout.html' %}

{% block headJS %}
	{% parent %}
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/chat-plugins.js"></script>
	<script src="/js/chat.js"></script>
{% endblock %}

{% block body %}
	<div class="chat-container">
		<div class="chat-margin">
			<div class="chat-wrapper">
				<div class="chat"></div>
			</div>
		</div>
		<div class="user-list"></div>
		<form action="javascript:void(0);" class="message-input">
			<input type="text" name="message" autocomplete="off" placeholder="Message">
			<button type="submit" class="button">Send</button>
		</form>
	</div>
{% endblock %}