{% extends 'layout.html' %}

{% block pageHeader %}
Register <small>始めまして！</small>
{% endblock %}

{% block content %}
	<form action="{{ pageURL }}" method="post" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input type="text" name="username" id="username"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="email" name="email" id="email"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" name="password" id="password"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password_confirm">Confirm Password</label>
			<div class="controls">
				<input type="password" name="password_confirm" id="password_confirm"/>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</div>
	</form>
{% endblock %}