{% extends 'layout.html' %}

{% block pageHeader %}Register{% endblock %}
{% block pageSubHeader %}始めまして！{% endblock %}

{% block content %}
	<form action="{{ pageURL }}" method="post">
		<fieldset class="half-width">
			<input type="text" name="username" placeholder="Username"/>
			<input type="text" name="email" placeholder="Email"/>
			<input type="password" name="password" placeholder="Password"/>
			<input type="password" name="password_confirm" placeholder="Confirm Password"/>
			<button type="submit" class="button primary">Register</button>
		</fieldset>
	</form>
{% endblock %}