{% extends 'layout.html' %}

{% block pageHeader %}
Reset Password <small>ふーっ！</small>
{% endblock %}

{% block content %}
	<form action="{{ pageURL }}" method="post" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="password">New Password</label>
			<div class="controls">
				<input type="password" name="password" id="password"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password_confirm">Confirm New Password</label>
			<div class="controls">
				<input type="password" name="password_confirm" id="password_confirm"/>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
{% endblock %}