{% extends '../layout.html' %}

{% block headJS %}
{% parent %}
<script src="/js/dashboard-plugins.js"></script>
<script src="/js/dashboard.js"></script>
{% endblock %}

{% block pageHeader %}Dashboard{% endblock %}
{% block pageSubHeader %}<span class="page-title">Loading...</span>{% endblock %}

{% block content %}
	{# Sidebar #}
	<div class="sidebar col one">
		<div class="grey-border section">
			<h3>User</h3>
			<ul>
				<li><a href="/dashboard/user/avatar">Avatar</a></li>
				<li><a href="/dashboard/user/password">Password</a></li>
			</ul>
		</div>

		{% if user.permissions.admin %}
			<div class="grey-border section">
				<h3>Admin</h3>
				<ul>
					<li><a>One</a></li>
					<li><a>Two</a></li>
					<li><a>Three</a></li>
				</ul>
			</div>
		{% endif %}
	</div>

	{# Main body #}
	<div id="pjax" class="col three last">{{ pjaxContent|safe }}</div>
{% endblock %}