{% extends '../layout.html' %}

{% block headJS %}
{% parent %}
<script src="/js/dashboard-plugins.js"></script>
<script src="/js/dashboard.js"></script>
{% endblock %}

{% block pageHeader %}Dashboard{% endblock %}
{% block pageSubHeader %}<span class="page-title">Loading...</span>{% endblock %}

{% block content %}
	{# Sidebar #}
	<div class="sidebar col one">
		<div class="grey-border">
			<h3>User</h3>
			<ul>
				<li><a href="/dashboard/user/password">Password</a></li>
			</ul>
		</div>

		<div class="grey-border">
			<h3>Admin</h3>
			<ul>
				<li>One</li>
				<li>Two</li>
				<li>Three</li>
			</ul>
		</div>
	</div>

	{# Main body #}
	<div id="pjax-container" class="col three last grey-border">{{ pjaxContent|safe }}</div>
{% endblock %}